body {
  text-align: center;
}

.playAgain {
  background-color: lightblue;
  font-size: 50px;
}

.roundUpdates {
  color: purple;
  font-size: 36px;  
  font-weight: bold;
}

.points {
  color: purple;
  font-size: 36px;  
  font-weight: bold;
}

.winner {
  color: hotpink;
  font-size: 44px;  
}

#rock {
  background:url(images/rock.png) no-repeat;
  width: 300px;
  height: 300px;
  margin-right: 50px;
}

#paper {
  background: url(images/paper.png) no-repeat;
  width: 300px;
  height: 300px;  
}

#scissors {
  background:url(images/scissors.png) no-repeat;  
  width: 300px;
  height: 300px;
  margin-left: 50px; 
}

#rock, #paper, #scissors {
  margin-top: 100px;
}
